*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/misc.xml
/.idea/migrations.xml
/.idea/render.experimental.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/ktlint-plugin.xml
/.idea/vcs.xml
/.idea/codeStyles
/.idea/kotlinc.xml
/.idea/runConfigurations.xml
/.idea/gradle.xml
/.idea/AndroidProjectSystem.xml