<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".WorkInspectorActivity"
            android:exported="true"
            android:label="@string/wi_lib_name"
            android:theme="@style/Theme.WorkInspector" />

        <provider
            android:name=".WorkInspectorInitProvider"
            android:authorities="${applicationId}.WORKINSPECTOR_INIT"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>